<!DOCTYPE html>
<html>

<head>
    <%= render 'head' %>
</head>

<body>

    <div class="article-dual-column">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="intro">
                        <h1 class="text-center">Después de años de odiar el ejercicio, encontré un entrenamiento que me hace sentir como la Mujer Maravilla</h1>
                        <p class="text-center"><span class="by">by</span> <a href="#">Jessie Van Amburg</a><span class="date">Sept 8th, 2018</span></p>
                      </div>
                    </div>
                    </div>
                    <div class="row">
                      <div class="col-md-10 col-lg-5 offset-md-1">

                      </div>
                    </div>
            <div class="row">
                <div class="col-md-10 col-lg-3 offset-md-1">
                    <div class="toc">
                        <p>Table of Contents</p>
                        <ul>
                            <li><a href="#">Porque el Muay Thai es el Arte Marcial Perfecto</a> </li>
                            <li><a href="#">Me siento como la Mujer Maravilla</a></li>
                            <li><a href="#">Lorem Ipsum </a> </li>
                            <li><a href="#">Dolor sit amet</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-10 col-lg-7 offset-md-1 offset-lg-0">
                  <figure class="figure"><%= image_tag '117756a.jpg', class: "img-fluid d-flex align-items-end img-responsive", width:"500"%><figcaption class='figure-caption'></figcaption></figure>
                    <div class="text">
                        <p>He intentado básicamente todo y nada me ha servido. Los entrenamientos en cinta rodante son aburridos AF; correr me hace volver a la clase de educación física de octavo grado; El reformador &nbsp;de Pilates es básicamente una versión
                            elegante de un dispositivo de tortura medieval (¡pero para la aptitud física!); y la bicicleta es en realidad una vista previa del séptimo círculo del infierno. (¿Por qué mis pies están atrapados en la bicicleta? ¿Qué haré
                            si hay un incendio? ¿Por qué está tan oscuro aquí? Estoy divagando).</p>
                        <p>Revisar las publicaciones orientadas hacia la salud y el bienestar de las mujeres ha tenido poco impacto en mi perspectiva. Sí, sé a ciencia cierta que el ejercicio regular está vinculado a muchos beneficios sorprendentes para
                            la salud: longevidad, mejor humor y mejor salud mental, y reducción del estrés, entre otros. Saber las cosas buenas que puede aportar el ejercicio no altera el hecho de que odio todo lo relacionado con el ejercicio. Odio la
                            sudoración. Odio la repetitividad que adormece la mente de una cinta de correr o una máquina elíptica. Odio los brotes de rosácea después del ejercicio que tardan horas en calmarse. Odio el dolor posterior de todo el cuerpo
                            que dura varios días.</p>
                        <h2>Encontré mi amor en el Muy Thai</h2>
                        <p>Mantuve estas creencias sobre la actividad física durante mucho tiempo. Luego, en octubre, me uní a algunos compañeros de trabajo para una clase de kickboxing de Muay Thai en HitHouse, un estudio en el vecindario NoLiTa de Nueva
                            York. Aunque pensaba que era una experiencia de unión de equipo, todavía temía el inevitable enrojecimiento y sudoración que soportaría frente a mis colegas mucho más activos.</p>
                        <figure class="figure"><<%= image_tag 'Dakota-Ditcheva-Muay-Thai-Fighter.jpg', class: "d-flex align-items-start img-responsive",  width: "550", height: "435" %>'>
                            <figcaption class="figure-caption"></figcaption>
                        </figure>
                        <p>Como sucedió, no tenía nada de qué preocuparme. Mis compañeros de trabajo, como es lógico, me brindan un gran apoyo y mover de una patada un saco de boxeo masivo es sumamente estimulante.</p>
                        <p>&nbsp;Es muy fácil cuando estás estresado &nbsp;sentirte abrumado e impotente. Muay Thai me ayuda a sentirme poderosa.</p>
                        <p>Al comienzo de la clase, el instructor nos guió a través de algunos de los movimientos básicos (golpes cruzados, patadas de cambio) mientras circulaba entre el grupo para dar consejos sobre la forma. (En Muay Thai, a diferencia
                            del boxeo tradicional, puedes usar tus piernas, pies, rodillas y codos para pelear, no solo tus puños). La música de hip-hop resonó en los altavoces mientras la clase completaba ocho rondas de combinaciones de 3 minutos ( repitiendo
                            una serie de movimientos con la mejor forma posible, antes de cambiar a un nuevo conjunto de patadas y lanzamientos). El ritmo me mantuvo alerta, cambiando las cosas antes de que me aburriera (lo que me pasa mucho con los entrenamientos)
                            y al mismo tiempo me daba suficiente tiempo para seguir con el instructor.</p>
                        <p>Había tenido una semana particularmente estresante la primera vez que probé el Muay Thai, contenida em mi escritorio apretando los dientes, estresada. Pero el mero hecho de canalizar mi frustración en el mundo en patadas y puñetazos
                            sólidos sin lastimar a nadie (¡no soy un monstruo!) Me hizo sentir como la Mujer Maravilla. El "obispo" en el que estaba golpeando no era solo un saco de boxeo, era la encarnación física de todas las cosas en mi vida que me
                            enojaban ese día: el estrés laboral me mantenía despierta por la noche, las llamadas de correo no deseado explotaban en mi teléfono Todo el día, además de las audiencias de Kavanaugh.</p>
                        <p>Durante 50 minutos, lloré en ese saco de boxeo (al ritmo de "Smells Like Teen Spirit", nada menos). Dejé la clase sudada, agotada, y totalmente recargada. Es muy fácil cuando estás estresado que tes sientas abrumada e impotente.
                            Esa clase de Muay Thai, y todas las que he tomado desde entonces, me han ayudado a sentirme poderosa. Estoy enganchada.</p>
                        <p>Mi objetivo en 2019 es mantener mi aventura amorosa con Muay Thai a largo plazo, asistiendo al menos a una clase por semana. Espero que me haga sentir más fuerte y más poderosa. Y si necesitan extras para la nueva película de Wonder
                            Woman, estoy lanzando mi sombrero en el ring.</p>
                        <p>Algunos días es más difícil de ejercitar que otros: aquí se explica por qué. Y si odias los entrenamientos (como yo), prueba esta técnica.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Otros Servicios</h3>
                        <ul>
                            <li><a href="#">Programas Empresariales</a></li>
                            <li>Programas Escolares</li>
                            <li><a href="#">Coaching</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Dirección</h3>
                        <ul>
                            <li><a href="#">Centro Comercial La Torre</a></li>
                            <li><a href="#">Piso 3 - Local # xxx</a></li>
                            <li>La Puntilla - Samborondón</li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Información</h3>
                        <ul>
                            <li><a href="#">Celular: 099XXXXXXXXX</a></li>
                            <li><a href="#">Correo Electrónico: info@roundone.com</a></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                        <p class="copyright">ROUND-ONE © 2019</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
