<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                    <%= button_tag ' ',class: "btn btn-danger glyphicon glyphicon-road", id: 'btn-gly' %>
                    <h3>Estado Físico Integral</h3>
                    <p class="lead text-justify mb-0"> Eleva la capacidad aeróbica y anaeróbica, trabaja en la musculatura y su capacidad de respuesta!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                    <%= button_tag ' ',class: "btn btn-danger glyphicon glyphicon-fire", id: 'btn-gly' %>
                    <h3>Defensa Personal </h3>
                    <p class="lead mb-0">Movimientos y posturas para la defensa y la respuesta al ataque. Combinación de movimientos!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                 <%= button_tag ' ',class: "btn btn-danger glyphicon glyphicon-tower", id: 'btn-gly' %>
                    <h3>Auto Estima Elevada</h3>
                    <p class="lead mb-0">Mejora tu actitud y desenvolvimiento social, seguridad y aplomo!. Los logros generan admiración!</p>
                </div>
            </div>
        </div>
    </div>
</section>
